@page
@model HoldsSimpleWebAppCore22.Pages.OrderHolds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderHold[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHold[0].OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHold[0].OrderHoldCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHold[0].OrderHoldDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderHold) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHoldCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHoldDesc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderHoldID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderHoldID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderHoldID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
